robotframework
robotframework-seleniumlibrary
robotframework-requests
robotframework-pabot
robotframework-faker
pyyaml
pymongo
dnspython
python-Levenshtein
fuzzywuzzy
unidecode
facile_toolkit
facile-toolkit2